@import url('https://fonts.gooleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('styles/content.css');
@import url('styles/sidebar.css');


@keyframes shrinkSquareToCircle 
{
    0% {
        border-radius: 0%;
    }
    100% {
        border-radius: 50%;
    }
}

@keyframes slideInFromLeft 
{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.container li
{
    list-style: none;
}

strong {
    font-weight: 500;
}

a:hover
{
    color: rgb(142, 141, 202);
}
/* ----- */


.icon
{
    font-size: 18px;
    margin-right: 10px;
}




@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .interests ul
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .otherSkills
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px)
{
    .experience>ul>li
    {
        flex-direction: column;
    }
    .experience .year_location 
    {
        margin-bottom: 5px;
    }
    .interests ul
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills li 
    {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5px;
    }
    .otherSkills
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media print { 
    body
    {
        display: block;
        aspect-ratio: 1 / 1.4125;
    }
    .container
    {
        margin: 0;
        height: 100%;
        box-shadow: none;
        max-width: none;
    }
}