@import url('https://fonts.gooleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* Keyframes */
@keyframes shrinkSquareToCircle 
{
    0% {
        border-radius: 0%;
    }
    100% {
        border-radius: 50%;
    }
}

@keyframes slideInFromLeft 
{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* ----- */


/* Global styles */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.container li
{
    list-style: none;
}

strong {
    font-weight: 500;
}

a:hover
{
    color: rgb(142, 141, 202);
}
/* ----- */


/* Sidebar */

.sidebar
{
    position: relative;
    background: #003147;
    padding: 40px;
    color: white;
}

h1
{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.sidebar .headshot
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .headshot strong
{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 20px;
}


.sidebar .imgBox
{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    text-align: center;
}

.sidebar .imgBox.animation
{
    animation: 1s ease-out 0s 1 shrinkSquareToCircle;
}

.sidebar .imgBox img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar section
{
    margin-top: 40px;
}

.sidebar li
{
    margin: 10px 0;
}
.sidebar .fas, .sidebar .fab
{
    color: #03a9f4;
    width: 20px;
    text-align: center;
}

.sidebar .contactInfo li
{
    display: grid;
    grid-template-columns: 30px 1fr;
}

.icon
{
    font-size: 18px;
    margin-right: 10px;
}

.sidebar .year
{
    color: #03a9f4;
    font-weight: 500;
    font-size: 0.8em;
}



.percent.animation div
{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.percent
{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.languages .percent
{
    height: 6px;
    background: #081921;
}

.languages .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/* ----- */

.content
{
    padding: 40px;
}

.content .title
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.content section
{
    margin-bottom: 40px;
}
.content section:last-of-type
{
    margin-bottom: 0;
}

.year_location
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
    font-size: 0.8em;
    min-width: 150px;
}

.content strong
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 1em;
}

.experience .text
{
    color: #333;
}

.experience .text li
{
    list-style: inside;
}

.content section>ul>li
{
    margin: 20px 0;
}

.experience>ul>li
{
    display: flex;
    flex-direction: row;
}

.ratedSkills li
{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-top: 5px;
}

.otherSkills
{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: #333;
}

.skills .text
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .percent
{
    height: 10px;
    background: #f0f0f0;
}

.skills .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.skills ul .listSeperator
{
    margin: 20px;
}

.interests ul
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interests li
{
    color: #333;
    font-weight: 500;
    margin: 5px 10px;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .interests ul
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .otherSkills
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px)
{
    .experience>ul>li
    {
        flex-direction: column;
    }
    .experience .year_location 
    {
        margin-bottom: 5px;
    }
    .interests ul
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills li 
    {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5px;
    }
    .otherSkills
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media print { 
    body
    {
        display: block;
        aspect-ratio: 1 / 1.4125;
    }
    .container
    {
        margin: 0;
        height: 100%;
        box-shadow: none;
        max-width: none;
    }
}